<div class="col-lg-8">
    <h1 class="page-header">
        {{vm.title}}
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>  <a ui-sref="home">Inicio</a>
        </li>
        <li class="active">
            <i class="fa fa-calendar"></i> Aulas
        </li>
    </ol>
    <div>
        <div class="jumbotron">
            <div>
                <input class="form-control" type="text" ng-model="vm.criterioDeBusca" placeholder="O que você está procurando?" />
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Data da aula</th>
                    </tr>
                    <tr ng-class="" ng-repeat="aula in vm.aulas | filter: vm.criterioDeBusca">
                        <td><input type="checkbox" ng-click="vm.aulaSelecionada = aula" /></td>
                        <td>{{aula.dataAula | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </table>
                <button class="btn btn-danger" ng-click="vm.delete(vm.aulaSelecionada)" ng-disabled="!true">Excluir</button>
            </div>
        </div>
    </div>
</div>