<div class="col-lg-8">
    <h1 class="page-header">
        {{vm.title}}
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>  <a ui-sref="home">Inicio</a>
        </li>
        <li class="active">
            <i class="fa fa-users"></i> Alunos
        </li>
    </ol>
    <div>
        <form name="vm.alunoForm" class="jumbotron">
            <input class="form-control" type="text" ng-model="vm.aluno.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10" /><br>
            <input class="form-control" type="text" ng-model="vm.aluno.endereco.cep" name="cep" placeholder="CEP" ng-required="true" ng-minlength="8" /><br>
            <input class="form-control" type="text" ng-model="vm.aluno.endereco.bairro" name="bairro" placeholder="Bairro" ng-required="true" /><br>
            <input class="form-control" type="text" ng-model="vm.aluno.endereco.localidade" name="localidade" placeholder="Localidade" ng-required="true" /><br>
            <input class="form-control" type="text" ng-model="vm.aluno.endereco.uf" name="uf" placeholder="UF" ng-required="true" /><br>
            <select class="form-control" ng-model="vm.aluno.turma" ng-options="turma.descricao for turma in vm.turmas">
                <option value="">Selecione a Turma</option>
            </select><br>
            <div ng-show="vm.alunoForm.nome.$error.required && vm.alunoForm.nome.$dirty" class="alert alert-danger">
                Por favor, preencha o campo nome!
            </div>
            <div ng-show="vm.alunoForm.nome.$error.minlength && vm.alunoForm.nome.$dirty" class="alert alert-danger">
                O campo nome deve ter mais de 10 caractéres!
            </div>
            <div ng-show="vm.alunoForm.turma.$error.selected && vm.alunoForm.nome.$dirty" class="alert alert-danger">
                Selecione uma turma válida!
            </div>
            <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="vm.alunoForm.$invalid">Salvar</button>
            <button class="btn btn-success" ng-click="vm.clearFields()">Limpar</button>
        </form>
    </div>
</div>