<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-6">
                <h1 class="page-header">
                    Diário<small> Academia de Programador</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-home"></i> Início
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

