USE [DiarioAcademia]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/12/2014 09:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBAluno]    Script Date: 04/12/2014 09:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBAluno](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Endereco_Cep] [nvarchar](max) NULL,
	[Endereco_Bairro] [nvarchar](max) NULL,
	[Endereco_Localidade] [nvarchar](max) NULL,
	[Endereco_Uf] [nvarchar](2) NULL,
	[Nome] [nvarchar](max) NULL,
	[Turma_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBAluno] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBAula]    Script Date: 04/12/2014 09:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBAula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChamadaRealizada] [bit] NOT NULL,
	[Data] [date] NOT NULL,
	[Turma_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBAula] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBPresenca]    Script Date: 04/12/2014 09:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPresenca](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusPresenca] [nvarchar](max) NULL,
	[Aula_Id] [int] NOT NULL,
	[Aluno_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBPresenca] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBTurma]    Script Date: 04/12/2014 09:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBTurma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ano] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TBTurma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TBAluno] ON 

INSERT [dbo].[TBAluno] ([Id], [Endereco_Cep], [Endereco_Bairro], [Endereco_Localidade], [Endereco_Uf], [Nome], [Turma_Id]) VALUES (2, NULL, NULL, NULL, NULL, N'Ana Paula de Barros Dias', 1)
INSERT [dbo].[TBAluno] ([Id], [Endereco_Cep], [Endereco_Bairro], [Endereco_Localidade], [Endereco_Uf], [Nome], [Turma_Id]) VALUES (3, NULL, NULL, NULL, NULL, N'Anderson Borba de Oliveira', 1)
INSERT [dbo].[TBAluno] ([Id], [Endereco_Cep], [Endereco_Bairro], [Endereco_Localidade], [Endereco_Uf], [Nome], [Turma_Id]) VALUES (4, NULL, NULL, NULL, NULL, N'Aprigio
 Zancheta', 1)
SET IDENTITY_INSERT [dbo].[TBAluno] OFF
SET IDENTITY_INSERT [dbo].[TBAula] ON 

INSERT [dbo].[TBAula] ([Id], [ChamadaRealizada], [Data], [Turma_Id]) VALUES (2, 1, CAST(0xD1380B00 AS Date), 1)
INSERT [dbo].[TBAula] ([Id], [ChamadaRealizada], [Data], [Turma_Id]) VALUES (3, 1, CAST(0xD2380B00 AS Date), 1)
INSERT [dbo].[TBAula] ([Id], [ChamadaRealizada], [Data], [Turma_Id]) VALUES (4, 1, CAST(0xD3380B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[TBAula] OFF
SET IDENTITY_INSERT [dbo].[TBPresenca] ON 

INSERT [dbo].[TBPresenca] ([Id], [StatusPresenca], [Aula_Id], [Aluno_Id]) VALUES (1, N'C', 2, 2)
INSERT [dbo].[TBPresenca] ([Id], [StatusPresenca], [Aula_Id], [Aluno_Id]) VALUES (2, N'C', 2, 3)
INSERT [dbo].[TBPresenca] ([Id], [StatusPresenca], [Aula_Id], [Aluno_Id]) VALUES (3, N'C', 2, 4)
GO
SET IDENTITY_INSERT [dbo].[TBPresenca] OFF
SET IDENTITY_INSERT [dbo].[TBTurma] ON 

INSERT [dbo].[TBTurma] ([Id], [Ano]) VALUES (1, 2014)
INSERT [dbo].[TBTurma] ([Id], [Ano]) VALUES (2, 2015)
INSERT [dbo].[TBTurma] ([Id], [Ano]) VALUES (3, 2012)
SET IDENTITY_INSERT [dbo].[TBTurma] OFF
ALTER TABLE [dbo].[TBAluno]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBAluno_dbo.TBTurma_Turma_Id] FOREIGN KEY([Turma_Id])
REFERENCES [dbo].[TBTurma] ([Id])
GO
ALTER TABLE [dbo].[TBAluno] CHECK CONSTRAINT [FK_dbo.TBAluno_dbo.TBTurma_Turma_Id]
GO
ALTER TABLE [dbo].[TBAula]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBAula_dbo.TBTurma_Turma_Id] FOREIGN KEY([Turma_Id])
REFERENCES [dbo].[TBTurma] ([Id])
GO
ALTER TABLE [dbo].[TBAula] CHECK CONSTRAINT [FK_dbo.TBAula_dbo.TBTurma_Turma_Id]
GO
ALTER TABLE [dbo].[TBPresenca]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBPresenca_dbo.TBAluno_Aluno_Id] FOREIGN KEY([Aluno_Id])
REFERENCES [dbo].[TBAluno] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBPresenca] CHECK CONSTRAINT [FK_dbo.TBPresenca_dbo.TBAluno_Aluno_Id]
GO
ALTER TABLE [dbo].[TBPresenca]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBPresenca_dbo.TBAula_Aula_Id] FOREIGN KEY([Aula_Id])
REFERENCES [dbo].[TBAula] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBPresenca] CHECK CONSTRAINT [FK_dbo.TBPresenca_dbo.TBAula_Aula_Id]
GO
